.principale{
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.part2.active{
  display: block;
  background: rgba(255, 255, 255, 0.743);
  padding: 20px;
  justify-content: center;
  border-radius: 10px;
}
.part2 .part2head{
  text-align: center;
}
.part2 .part2head label{
  color: red;
}
.part2 .partA{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 5px;
}


select,
input {
  text-decoration: none;
  height: 30px;
  width: 200px;
  border-radius: 4px;
  padding: 0px 10px;
  font-size: 15px;
  margin: 0px 0px 15px 0px;
}

label {
  text-decoration: none;
  font-size: larger;
}
.part2 .button_Back1{
  text-align: right;
  margin-right: 5px;
}
.part2 .button_Back1 button{
   border: 1px solid rgba(0, 120, 5, 0.468);
  border-radius: 5px;
  color: black;
  background-color: rgba(0, 120, 5, 0.468);
  transition: all 0.5s ease;
}
.part2 .button_Back1 button:hover {
  color: white;
  background-color: rgb(0, 120, 4);

}
.part2{
  display: none;
}
.part2 .partB{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 5px;
  margin: 0 auto;
}
.part2 .partB .colB3.part2.special{
  width: 100%;
}

.input.special{
  width: 20px;
  margin: 0%;
  padding: 0%;
  height: 15px;
}
.partB_button{
  display: flex;
  justify-content: space-between;
}
.partB_button button{
  border: 1px solid rgba(0, 120, 5, 0.468);
  border-radius: 5px;
  color: black;
  background-color: rgba(0, 120, 5, 0.468);
  transition: all 0.5s ease;
}
.partB_button button:hover {
  color: white;
  background-color: rgb(0, 120, 4);

}
@media(max-width:503px){
  .part2.part2.active{
    width: 250px;
  }
  .principale {
    margin: 50px auto;
  }
  header {
    height: auto;
    padding-bottom: 20px;
    font-size: smaller;
  }
  .part2 .partA{
    gap: 0;
  }
  .part2 .partB{
    gap: 0;
  }
}
/* .part2 {
 
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-radius: 10px;
}
.part2.special {
  background: rgba(255, 255, 255, 0.743);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.part2.active {
  display: none;
}

.partA {
  width: 100%;
  margin: auto;
}

.partiAA {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 30px;
  text-align: left;
}

.partBB {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  text-align: left;
  text-align: left;
  flex-wrap: wrap;
}
.partBB .colB1, .colB2{
}
.partBB .colB3.special{
  width: 100%;
}



.button_Back1 {
  margin: 0px 0px 15px 380px;
 
}



.button_BackEven:hover {
  color: white;
  background-color: rgb(0, 120, 4);
  transition: all 0.5s ease;
}


.part2 {
  display: block;
} */

/* .part2 h3 {
    display: flex;
    position: absolute;
    border-bottom: 1px outset rgba(189, 185, 185, 0.5);
    font-weight: bolder;
    padding-bottom: 5px;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .partA {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.54);
    width: 500px;
    display: flex;
    padding: 10px;
    border: 1px solid rgba(0, 120, 5, 0.468);
    border-radius: 10px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .onlyNom {
    margin-top: 50px;
  }
  
  
  
  .colA1 select {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 25px;
    width: 150px;
    border-radius: 4px;
    margin-left: 30px;
  }
  
  .part2 {
    display: none;
  
  }
  
  .partB {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.54);
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 10px;
    border: 1px solid rgba(0, 120, 5, 0.468);
    border-radius: 10px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .button_Back {
    border: 1px solid rgba(0, 120, 5, 0.468);
    border-radius: 5px;
    color: black;
    background-color: rgba(0, 120, 5, 0.468);
  }
  
  .button_BackEven {
    margin-left: 350px;
    border: 1px solid rgba(0, 120, 5, 0.468);
    border-radius: 5px;
    color: black;
    background-color: rgba(0, 120, 5, 0.468);
  }
  
  
 
  .button_Back2 {
    margin-left: 55px;
    border: 1px solid rgba(0, 120, 5, 0.468);
    border-radius: 5px;
    color: black;
    background-color: rgba(0, 120, 5, 0.468);
  }
  
  .button_Back2,
  .button_Back:hover {
    color: white;
    background-color: rgb(0, 120, 4);
    transition: all 0.5s ease;
  }
  
  .colB3 {
    grid-column: 1 / -1;
  }
  
  .colB3 p {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: 15px;
  }



@media(max-width:535px) {
    .partA {
        font-size: 13px;
      width: 400px;
    }
    label{
        font-size: 18px;
    }
  
    .partB {
      font-size: 12px;
      width: 400px;
    }
  
    input {
      margin-right: 0;
    }
  
    label {
      margin: 10px 0px 0px 10px;
    }
    input,
    select {
      width: 170px;
    }
  
    .button_BackEven {
      margin-left: 285px;
    }
    .button_Back1{
      margin-left: 145px;
    }
  } */
/* @media(max-width:425px) {
  header {
    height: auto;
  }

  .onlyNom {
    margin-top: 0;
  }

  .button_BackEven {
    margin-left: 75px;
  }

  .partA {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 0;
    margin-bottom: 60px;
  }

  .partB {
    display: flex;
    flex-direction: column;
    width: 220px;
    gap: 0;
    margin-bottom: 60px;
  }

  input {
    margin-bottom: 0%;
  }

  button {
    margin-top: 15px;
  }

  .ac_card_body {}

  .colB3 p {
    font-size: 8px;
  }

} */