@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  
  font-family: 'open-sans'; 
}
body{
   margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-size: 1rem;
  line-height: 1.5;
  }
.ac-navbar{
    text-decoration: none;
    background-color: rgb(0,0,0,0.55);
    box-shadow: 1px 1px 3px rgba(255,255,255,0.54);
    backdrop-filter: blur(2px);
    height: 54px;
} 
.Logo,span{
    text-decoration: none;
    color: rgb(23, 176, 23);
    font-size: 1.1em;
    font-weight: bold;
}
.ac-navbar .nav-link{
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
    color: #D2691E ;
}
.ac-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-bottom-color: rgb(23, 176, 23);
}
/*ceci is the body*/
header{
    background-image: url('img/1f38ebb7-32f8-414a-a395-c0a9df5982e6.JPG'), url('img/4562df8d-080c-4bea-bd5c-ceef0eac07dd.JPG'), url('img/5e5bf906-9f48-4ca7-ac84-b43629aa99d4.JPG'), url('img/452dff16-9dfc-494f-8981-98767fadd1af.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   /* emcascrip*/ height: 100vh; 
    animation: body 20s infinite;
    
}
.A{
    text-decoration: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 15%;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bolder;
   
}

.A H1{
    text-decoration: none;
    font-size: em;
    font-weight: bold;
    color: rgb(23, 176, 23);
}
.ac_link {
    text-decoration: none;
    font-size: 18px;
    width: 150px;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 120, 5, 0.468);
    border-radius: 8px;
    border: 1px solid rgba(0, 120, 5, 0.468);
    margin-top: 55px;padding: auto 15px;
}
.ac_link:hover{
    color: rgb(210, 105, 30) ;
    cursor: pointer;
    animation: pulsation 1.5s infinite;
    background-color: rgb(0, 120, 4);
    transition: all 0.5s ease;
}
.ac_card{
    padding: 0px;
    margin: 0px;
}
.ac_card h5{
    text-align: center;
    justify-content: center;
    font-size: 2em;
    color: rgba(0, 120, 4, 0.952);
    box-shadow: 0px 5px 0px rgba(147, 147, 147, 0.269) ;
}
.ac_card p{
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}

.ion-icon1, .ion-icon3 {
      border: 1px solid rgb(210, 105, 30);border-radius: 50%;padding: 10px; margin: 10px;color: rgb(210, 105, 30);font-size: 80px; width: 80px;background-color: rgb(0, 120, 4);
}
.ion-icon2 {
    border: 1px solid rgb(0, 120, 4);border-radius: 50%;padding: 10px; margin: 10px;color: rgba(0, 120, 4, 0.952);font-size: 80px; width: 80px;background-color: rgb(210, 105, 30);
}
.ac_col{
 overflow: hidden;
}
  .container-fluid .ac_col1{
    background-color: rgb(210, 105, 30);
    border-radius: 5px;
  }
  .container-fluid .ac_col2{
    background-color: rgb(0, 120, 4);
    border-radius: 5px;
  }
  .container-fluid .ac_col3{
    background-color: rgb(210, 105, 30);
    border-radius: 5px;
  }
  .ac_col h2{
        margin-left: 120px;
        margin-top: -55px;
        font-size: 1.2em;
        color: rgb(36, 201, 42);
        font-weight: bolder;
  }
  .ac_col p{
    text-align: left;
        margin-left: 90px;
        margin-top: 15px;
        color: rgb(255, 255, 255);


  }
  /* AC_3COLUM */
  
  .ac_3 .CR1{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-left: auto;
  }
  .ac_3 .CR2{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin-left: auto;
  }
  .ac_3 th{
    width: 300px;
  }
  .ac_3 th,td,tr{
    text-align: center;
    border: 1px solid black;
  }
  /* AC_4COLUM */
  .ac_4 p{
    
    text-decoration: underline;
    color: rgb(210, 105, 30);
    text-align: center;
    font-size: x-large;
    /* font-weight: bold; */

  }
  .ac_4, p{
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    
  }
  .ac_4 th,td,tr{
    text-align: center;
    border: 1px solid black;
    
  }
  .ac_4 th {
    width: 500px;
    color: black;
  }
  .ac_4  .aaaa{
    text-decoration:none; border:1px solid black; margin-top:35px; padding:5px; background-color:rgb(210, 105, 30);
    border-radius: 5px;
    color: #ffffff;
  }
  .ac_4  .aaaa:hover{
    background: linear-gradient(to right, #D2691E 0%, #D2691E 0%, transparent 100%);
    background-size: 200% 100%;
    animation: fillBackground 3s linear infinite;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
            
  }
  /* AC_5colum */
  .ac_5 {
   display: flex;
   justify-content: center;
   height: auto;
   width: auto;
   text-align: center;
   color: rgba(255,255,255);
  
}
.ac_5 p{
  text-decoration: none;
  margin-top: 20px;
  padding:0%;
  margin: 0%;
  /* font-size:1em; */
  color: rgb(236, 236, 236);
}
.ac_5 .ac_5col1, .ac_5col2,.ac_5col3{
  background-color: rgb(0, 120, 4);
  border-radius: 10px;
}
/* ______________________FOOTER__________________ */
.footera{
  display: none;
}
.footerb{
  display: block;
}
.footer{
height: 54px;
display: flex; align-items: center;text-align: center;
}
.footer1{
   display:flex;
   justify-content: space-between;
}
.footer1 p{
  color: white;
  margin: auto 5px;
}
.footer1 a{
  margin-right: 20px;

}

.footer1 ion-icon{
  color: rgb(23, 176, 23);
}
.footer1 a ion-icon:hover{
  font-size: 25px;
  color: white;
  transition: 0.1s  ease-in;
  position: sticky;
}
.footer1 span{
  margin: auto 15px auto -15px;
  color: white;
} 

/* --------first_footer */
/* footer */

.ac_footer .ac_footer2{
  padding: 0%;
  margin: 0px;
  
}   
.ac_footer3 a{
  margin-left: 35px;
}
.button_menu .navbar-navdrop li a{
  color: rgb(2, 137, 6);
}
.ac-footer span{
  color:white; margin:auto; font-size:16px 
}
.ac-footer span ion-icon{
  color: rgb(23, 176, 23); margin:auto 15px;
}
/*-----------------My Menu toggel----------------*/
.button_toggel .button_icon{
  color: white;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 3px;
  display: none;
}
.button_icon:hover{
  background-color: #fff;
  color: black;
}
.button_menu{
  display: none;
  text-decoration: none;
  width: 100%;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 52px;
  background-color: rgb(0,0,0,0.55);
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
  height: auto;
}
.button_menu.open{
  opacity: 100%;
  pointer-events: all;
}

.button_menu .navbar-navb, li{
  list-style-type:none ;
  text-decoration: none;
}
.button_menu .navbar-navb li a{
  text-decoration: none;
  background: none;
  color: #fff;

}.button_menu ul li a:hover{
  color: rgb(0, 120, 4);
}
.button_menu .navbar-navdrop ul li {
  text-decoration: none;
  align-items: center;
  text-align: start;
  justify-content: center;
  width: 100%;
  border: none;
}
.button_menu .navbar-navdrop ul li a{
 text-align: center;
  text-transform: capitalize;
  font-size: 16px;
}
.button_menu .navbar-navdrop .navlink-navdrop{
  color: #fff;
}.button_menu .navbar-navdrop .navlink-navdrop:hover{
  color: rgb(0, 120, 4);
}
.button_menu .navbar-navdrop ul{
  list-style-type:none ;
  position: static;
  text-align: center;
  justify-content: center;
  border: none;
  
}
.button_menu .navbar-navdrop li a{
  color: rgb(2, 137, 6);
}
/*-------------------animation---------------*/
.ac_animation1{
  transform: scale(.3);
     opacity: 0;
     transition: transform 1s ease-out;
 }
 .ac_animation1.visible{
   transform: scale(1);
   opacity: 1;
 
 }
 .ac_animation2{
   transform: translateX(-50%);
   opacity: 0;
   transition: 0.9s ease-out;
 }
 .ac_animationright{
   transform: translateX(50%);
   opacity: 0;
   transition: 0.9s ease-out;
 }
 .ac_animationright.visible{
  transform: translateX(0);
  opacity: 1;
 }
 .ac_animation2.visible{
   transform: translateX(0);
   opacity: 1;
 }

/* javascrip */
@keyframes body {
    0%{background-image: url('img/1f38ebb7-32f8-414a-a395-c0a9df5982e6.JPG') ;}
    30%{background-image: url('img/4562df8d-080c-4bea-bd5c-ceef0eac07dd.JPG');}
    60%{background-image: url('img/5e5bf906-9f48-4ca7-ac84-b43629aa99d4.JPG');}
    90%{background-image: url('img/452dff16-9dfc-494f-8981-98767fadd1af.JPG');}
}
@keyframes fillBackground {
  from {
      background-position: 100% 0;
  }
  to {
      background-position: 0 0;
  }
}
@media(max-width:991px){
  header{
    height: auto;
    padding-bottom: 20px;
    font-size: smaller;
  }
  .ac_footer1 p{
    margin: 0;
  }
  .card_body,ul{
    font-size: 12px;

  }
  .button_menu{
    display: block;
  }
  .button_toggel .button_icon{
    display: block;
  }
  .footera{
    display: block;
  }
  .footerb{
    display: none;
  } 
}
@media(max-width:638px){
  .ac_4, p{
    margin: 0;
    text-align: center;
  }
}

@media(max-width:430px){
  .body{
    font-size: 20px;
  }
  .ac_footer{
    text-align: center;
    margin: 0%;
  }
  .ac_3_A1,.CR1, .ac_4, b{
    font-size: 12px;
    text-align: center;
  }
  .ac_footer3 .aion{
    margin-left:0;
  }
  .ac-footer span{
    margin: 0;
    
  }
  .ac-footer span ion-icon{
    margin-left: 0px;
  }
}
[data-aos] {
  transition-property: transform, opacity;
  transition-timing-function: ease;
}
